@keyframes background_color {
    0% {
        background-color: rgba(255, 136, 136, 0.2);
    }
    20% {
        background-color: rgba(136, 187, 255, 0.2);
    }
    40% {
        background-color: rgba(136, 255, 136, 0.2);
    }
    60% {
        background-color: rgba(255, 255, 136, 0.2);
    }
    80% {
        background-color: rgba(187, 136, 255, 0.2);
    }
    100% {
        background-color: rgba(255, 136, 136, 0.2);
    }
}

body {
    animation: background_color 60s infinite;
    color: #111;
    font-family: Helvetica, "Segoe UI", sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 2rem;
    max-width: 700px;
}

h1 {
    font-variant: small-caps;
    text-align: center;
}

img {
    max-width: 100%;
    border-color: #111;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
}
