body {
    background-color: #eee;
    color: #111;
    font-family: Helvetica, "Segoe UI", sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 2rem;
    max-width: 700px;
}

h1 {
    font-variant: small-caps;
    text-align: center;
}

img {
    max-width: 100%;
    border-color: #111;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
}
